<!DOCTYPE html>
<html>
    <head>
      <title>Clementine.js - The elegant and lightweight full-stack boilerplate.</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
       <link rel="stylesheet" href="css/style.css" />
       
   </head>
<body>

<div class="container">
  <img src="img/clementine_150.png" />
  <br/ >
  <p class="clementine-text">Clementine.js</p>
</div>

<div class="container">
    <p>You have clicked the button <span id="click-nbr"></span> times.</p>
    <br />
    <div class="btn-container">
        <button type="submit" class="btn btn-add">CLICK ME!</button>
        <button class="btn btn-delete">RESET</button>
    </div>
</div>
<script type="text/javascript" src="clickHandler.client.js"></script>
</body>
</html>