<!DOCTYPE html>

<html>

	<head>
		<title>Clementine.js - The elegant and lightweight full stack JavaScript boilerplate.</title>
		
		 <link rel="stylesheet" href="css/style.css" type="text/css/>
	</head>

	<body>
		<div class="container">	
			<div class="login">
				<img src="img/clementine_150.png" />
				<br />
				<p class="clementine-text">Clementine.js</p>
				<a href="/auth/github">
					<div class="btn" id="login-btn">
						<img src="img/github_32px.png" alt="github logo" />
						<p>LOGIN WITH GITHUB</p>
					</div>
				</a>
			</div>
		</div>
	</body>

</html>